<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Billing AR Workflow Tool</title>
</head>
<body>
    <h1>Upload AR Report</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <br>
        <input type="submit" value="Process Claims">
    </form>
</body>
</html>
